.main {
  height: 100%;
  display: flex;
  width: 100%;
}

.sidebarButtons {
  height: 100%;
  overflow-y: scroll;
  width: 100px;
  border-right: var(--border-color) 1px solid;
}

.sidebarPanel {
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}