.main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  --header-height: 40px;
}

.header{
  height: var(--header-height);
  position: fixed;
  width: 100%;
  border-bottom: var(--border-color) 1px solid;
  overflow: hidden;
}

.body{
  height: 100%;
  width: 100%;
  top: var(--header-height);
  position: fixed;
  display: flex;
  overflow: hidden;
}

.leftColumn{
  width: 200px;
  overflow: hidden;
  border-right: var(--border-color) 1px solid;
}

.rightColumn{
  width: 100px;
  overflow: hidden;
  border-left: var(--border-color) 1px solid;
}

.centerColumn{
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.toolBar{
  height: 40px;
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
  margin: var(--margin-5);
}

.centerColumnBody{
  flex-grow: 1;
}