.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.logo {
  margin: 0px var(--margin-10);
  font-size: var(--fontsize-header);
}

.logo a:link {
  text-decoration: none;
}

.logo a:visited {
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.logo a:active {
  text-decoration: none;
}